header {
    padding: 10px 15px;
}

header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 150px;
}

a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 6px;
    margin: 0 5px;
}

a:hover {
    border-bottom: 1px solid blue;
    transition: 0.3s
}

@media(max-width: 550px) {
    .limitar-secao {
        flex-direction: column;
    }
    nav {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        border-top: 1px solid #aaadaf;
    }
}